.App {
  text-align: center;
}

.homeContainer
{
  width: 60%;
  margin: auto;
}

.addTaskDiv
{
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 5% 0%;
  padding: 5% 0%;
}

.addTaskDiv input {
  width: 70%;
  font-size: 1.4vw;
}

.addTaskDiv button {
  width: 25%;
  font-size: 1.4vw;
  background-color: rgb(78, 194, 248);
  color: white;
  border: none;
  padding: 1% 0%;
  border-radius: 3px;
  cursor: pointer;
}

.incompleteTasksDiv
{
  width: 100%;
}

.categoryHeading
{
  font-size: 1.8vw;
}

.eachTaskDiv
{
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  margin-top: 5%;
  margin-bottom: 5%;
}